/* Web fonts */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../fonts/open-sans-400.woff2') format('woff2');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-700.woff2') format('woff2');
}

/* Global style setting */

body {
  color: #333333;
  background-color: #F5F5F5;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

a {
  color: #1fa67a;
}

/* Header */

header {
  margin-top: 20px;
  margin-bottom: 30px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.site-logo {
  max-height: 80px;
}

/* Sidebar */
.site-sidebar a {
  color: #87BF17;
}

.site-sidebar h3 {
  color: #87BF17;
  padding-top: 13px;
  padding-bottom: 14px;
  border-bottom: 2px solid #87BF17;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  }

  #sidebar.affix {
    position: fixed;
    top: 0;
	width: 263px;
  }
}

.affix, .affix-top {
  position: static;
}

/* Site content */
.panel {
  color: #555555;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.panel h1 {
  margin: 0.67em 0;
}

/* Footer */

footer {
  margin-top: 30px;
  color: #AAAAAA;
}
