<div id="sidebar">
<ul class="nav nav-stacked">
  <li><h3>Navigation <i class="glyphicon glyphicon-th pull-right"></i></h3></li>
  <li><a href="{{ '/index.html' | prepend: site.baseurl }}">Home</a></li>
  <li><a href="{{ '/quick-start.html' | prepend: site.baseurl }}">Quick Start</a></li>
  <li><a href="{{ '/doc/index.html' | prepend: site.baseurl }}">API Reference</a></li>
  <li><a href="#">R Interface</a></li>
  <li><a href="#">Performance</a></li>
  <li><a href="{{ '/download.html' | prepend: site.baseurl }}">Download</a></li>
</ul>
</div>
