name: Basic CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [gcc, clang]
        BUILD_TYPE : [Debug, Release]
    steps:
    - uses: actions/checkout@v2 
    - name: dependencies
      run: sudo apt install libeigen3-dev
    - name: configure
      env:
        CC: ${{ matrix.compiler }}
      run: cmake -H. -Bbuild  -DBUILD_TESTS=ON -DCMAKEBUILD_TYPE=${{ matrix.BUILD_TYPE }}
    - name: make
      run: cmake --build build -- -j4
    - name: test
      run: cd build && ctest
